@use '@/app/assets/scss/utils' as *;

.tooltip-container {
  position: relative;

  &:hover .tooltip__text {
    visibility: visible;
  }
}

.tooltip__text {
  @include font(0.875rem, 400, 143%);
  padding: 0.3125rem 0.875rem;
  visibility: hidden;
  max-width: 21.375rem;
  width: 21.375rem;
  background-color: $color-surface-primary;
  color: $color-text-primary;
  border-radius: 0.3125rem;
  position: absolute;
  z-index: 500;
  bottom: 120%;
  left: 50%;
  margin-left: -10.75rem;
  white-space: pre-line;
  box-shadow: $sm-shadow;
  text-align: center;

  &.medium {
    width: 10.8125rem;
    margin-left: -5.4375rem;
  }

  &.small {
    width: 6.8125rem;
    margin-left: -2.9375rem;
  }

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.3125rem;
    border-width: 0.3125rem;
    border-style: solid;
    border-color: $color-surface-primary transparent transparent transparent;
  }

  &.bottom {
    top: 55%;
    bottom: auto;
    word-break: break-word;
    &::after {
      content: '';
      position: absolute;
      top: -35%;
      left: 50%;
      margin-left: -0.3125rem;
      border-width: 0.3125rem;
      border-style: solid;
      border-color: transparent transparent $color-surface-primary transparent;
    }
  }
}

@media screen and (max-width: $desktop-sm) {
  .tooltip__text {
    width: 18.75rem;
    margin-left: -15rem;

    &::after {
      left: 80%;
    }
  }
}

@media screen and (max-width: $tablet) {
  .tooltip__text {
    width: 17.5rem;

    &::after {
      left: 86%;
    }
  }
}

@media screen and (max-width: $mobile-md) {
  .tooltip__text {
    margin-left: -15.375rem;

    &::after {
      left: 88%;
    }
  }
}
